<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Django TailwindCSS</title>
    {% endblock %}

    <!-- Tailwind styles -->
    {% load static %}
    <link href="{% static 'compiled.css' %}" rel="stylesheet">

    {% if debug %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% endif %}

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>

    <!-- AlpineJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- Tailwind / DaisyUI CDN -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body>
    {% block sidebar %}
    <!-- insert default navigation text for every page -->
    {% endblock %}
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}
    {% block extra_js %}
    <!-- Extra JS (for SFCs) -->
    {% endblock %}
  </body>
</html>
