{% block extra_js %}
<script>
    console.log("Hello from page_one.html");
</script>
{% endblock %}

<form hx-post="{{ request.path }}" class="form-content">
  {% csrf_token %}
  <div class="form-header">
    <h5 class="form-title">Form One</h5>
  </div>
  <div class="form-body">
    {% for field in form %}
        <div class="field-wrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
  </div>
  <div class="form-footer">
    <button type="button">Cancel</button>
    <button type="submit">Save</button>
  </div>
</form>