<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
      <!-- Page content here -->
      <div class="w-full h-[calc(100vh-4rem)]">
        {% block page_content %}
        {% endblock %}
      </div>
    
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-2" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
        <!-- Sidebar content here -->
        <li><a hx-get="{% url 'page1' %}" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">Sidebar Item 1</a></li>
        <li><a hx-get="{% url 'page2' %}" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">Sidebar Item 2</a></li>
      </ul>
    
    </div>
</div>